.aboutus-container {
  background-color: white;
  padding: 20px;
  text-align: center;
  margin-bottom: 80px;
}

.slogan-section {
  margin-bottom: 40px;
  margin-top: 70px;
}

.slogan-section p {
  font-style: italic;
}

.slogan-section h2 {
  border: 1px rgb(95, 95, 221);
  font-size: 2rem;
  margin-bottom: 15px;
  animation: fadeIn 1.5s ease-in-out;
}

.aboutus-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.about-us-descrption {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-us-descrption p {
  width: 80%;
  text-align: justify;
}
.ceo-image{
  height: 250px;
  width: 250px;
  border-radius: 10px;
  margin-top: 5px;
}

.aboutus-card {
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 5px 15px 2px rgba(0, 0, 0, 0.2); 
  padding: 20px;
  width: 300px; 
  height: 380px; 
  text-align: center;
  animation: fadeInUp 1s ease-in-out;

  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.animate-counsellor-card {
  opacity: 1;
  transform: translateY(0);
}


.aboutus-card img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 500px;
}

.aboutus-card h3 {
  font-size: 1.2rem;
  margin: 15px 0 10px 0;
}

.aboutus-card p {
  font-size: 1rem;
  color: #0a013f;
}

.aboutus-card .italic-text {
  font-style: italic;
  color: #555;
  margin-top: 10px;
}

.thought-section p {
  font-size: 1.2rem;
  margin-top: 50px;
  font-style: italic;
  animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
  0% { opacity: 0; transform: translateY(20px); }
  100% { opacity: 1; transform: translateY(0); }
}

@keyframes fadeInUp {
  0% { opacity: 0; transform: translateY(30px); }
  100% { opacity: 1; transform: translateY(0); }
}

/* Responsive Styles */
@media (max-width: 768px) {
  .aboutus-card {
    width: 80%;
    height: auto;
    align-content: center;
    margin-left: 30px;
  }

  .aboutus-section {
    flex-direction: column;
    gap: 20px;
  }

  .ceo-section {
    flex-direction: column; /* Stack image and info vertically */
    align-items: center; /* Center items */
  }

  .ceo-image {
    width: 200px; /* Smaller image size */
    margin-bottom: 15px; /* Add space between image and description */
    height: 150px;
  }

  .ceo-info {
    text-align: center; /* Center-align text for small screens */
  }

  .ceo-info h3 {
    font-size: 1.2rem; /* Slightly smaller heading */
  }

  .ceo-info p {
    font-size: 1rem;
  }
}
