.aboutus-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.slogan-section {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 20px;
}

.aboutus-section {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.aboutus-left, .aboutus-right {
  flex: 1 1 100%;
  padding: 20px;
}

.aboutus-left-img, .aboutus-right-img {
  width: 100%;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
}

.aboutus-section h3 {
  color: #0f5285;
  
}

.aboutus-section p {
  line-height: 1.6;
  text-align: justify;
  margin: 0 auto;
  width: 80%;
}

.thought-section {
  background-color: #f0f0f0; /* Different background color */
  padding: 80px 60px;
  text-align: center;
  height: 300px;
 
  margin-top: 40px;
}

.thought-section p {
  font-size: 1.2em;
  line-height: 1.6;
  margin: 0;
}

/* Responsive Styles */
@media (min-width: 768px) {
  .aboutus-section {
    flex-wrap: nowrap;
  }

  .aboutus-left, .aboutus-right {
    flex: 1;
  }

  .aboutus-left-img, .aboutus-right-img {
    width: 80%;
    height: 350px;
  }

  .aboutus-section h3 {
    margin-left: 30px;
  }

  .aboutus-section p {
    margin-left: 30px;
  }
}
