.contact-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  margin: 50px auto;
  font-family: "Source Serif Pro", sans-serif;
  max-width: 1200px;

}

.contact-form-container,
.contact-info {
  width: 100%;
  max-width: 45%;
  margin: 10px auto;
}

.send-msg-heading,
.contactus-heading {
  color: #083a60;
  margin: 0 0 30px 0;
  text-align: center;
}

.contact-form-group {
  margin-bottom: 15px;
}

.contact-form-group input,
.contact-form-group textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 10px;
  font-size: 14px;
}

.contact-form-group input::placeholder,
.contact-form-group textarea::placeholder {
  color: #999;
  
}

.contact-form-group textarea {
  height: 100px;
  resize: none; /* Prevent resizing */
}

.contact-submit-button {
  padding: 12px 40px;
  width: 100%;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 14px;
  background-image: linear-gradient(90deg, #0056b3 50%, #007bff 50%);
  background-size: 200%;
  background-position: right;
  transition: background-position 0.5s ease-in-out;
}

.contact-submit-button:hover {
  background-position: left;
}

.contact-submit-button:not(:hover) {
  transition: none;
}


.contact-info-item {
  margin-bottom: 20px;
}

.contact-info h4 {
  color: #083a60;
  font-family: "Source Serif Pro", sans-serif;
  font-size: 25px;
  margin-top: 15px;
  display: flex;
  align-items: center;
}

.contact-info p {
  margin: 5px 0;
}

.contact-info svg {
  margin-right: 8px;
  vertical-align: middle;
  color: #083a60;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .contact-form-container,
  .contact-info {
    max-width: 100%;
  }
}
