.heading-4 {
  padding: 10px;
  text-align: center;
}
.categories-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.category-button {
  padding: 10px 20px;
  margin: 0 10px;
  background-color: #f0f0f0;
  color: #333;
  border: 2px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.category-button:hover {
  background-color: #e0e0e0;
}

.category-button.active {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

.category-button.active:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.card {
  width: 20%;
  margin: 20px;
  display: inline-block;
  background-color: rgb(243, 239, 244);
  overflow: hidden;
}

.card-img-wrapper {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
}

.card-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}

.card-body {
  padding: 30px;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-text {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

.btn-primary {
  background-color: #337ab7;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.details-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 50%;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

.popup-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.popup-description {
  font-size: 14px;
  color: #666;
}

/* Tablet styles (max-width: 768px) */
@media (max-width: 768px) {
  .card {
    width: 33.33%;
  }
  .card-img {
    height: 120px;
  }
  .card-body {
    padding: 20px;
  }
  .card-title {
    font-size: 16px;
  }
  .card-text {
    font-size: 12px;
  }
  .btn-primary {
    padding: 8px 16px;
    font-size: 14px;
  }
  .popup-content {
    width: 60%;
  }
}

/* Mobile styles (max-width: 480px) */
@media (max-width: 480px) {
  .card {
    width: 50%;
  }
  .card-img {
    height: 100px;
  }
  .card-body {
    padding: 15px;
  }
  .card-title {
    font-size: 14px;
  }
  .card-text {
    font-size: 10px;
  }
  .btn-primary {
    padding: 6px 12px;
    font-size: 12px;
  }
  .popup-content {
    width: 80%;
  }
}
