
.help-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  padding: 20px;
  text-align: center;
  height: 100vh;
  box-sizing: border-box;

}

.help-img {
  max-width: 500px;
  width: 100%;
  height: auto;
  margin-left: 30px;
  border-radius: 10px;
  margin-bottom: 20px;
}


.help-instruction p {
  font-style: italic;
  font-size: 1.1rem;
  /* margin-bottom: 15px; */
}


.help-contact {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #f0f0f0; 
  padding: 10px;
  padding-top: 5px;
  padding-bottom:5px ;
  border-radius: 20px;
  margin-bottom: 10px;
}

.help-contact p {
  font-size: 1.2rem;
  color: #333;
}


@media screen and (max-width: 768px) {
  .help-container {
    padding: 15px;
  }

  .help-img {
    max-width: 200px;
  }

  .help-instruction p {
    font-size: 1rem;
  }

  .help-contact p {
    font-size: 1rem;
  }
}
