body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: #9651c7;
    color: white;
    padding: 10px 0;
    text-align: center;
    font-size: 12px;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 20px;
}

h2 {
    color: #702cc9;
    margin-top: 0;
}

p {
    line-height: 1.6;
}

footer {
    background-color: #8c14e1;
    color: white;
    text-align: center;
    padding: 5px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
