footer-body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: #9651c7;
    color: white;
    
    text-align: center;
    font-size: 18px;
    max-width: 800px;
    margin: 0 auto;
    
}

.header-container {
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.header-container h4 {
    flex: 1;
    text-align: center;
    font-weight: 200px; /* add this line to make h1 font weight smaller */
}


.header-container {
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  


main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 20px;
}

h4 {
    color: #702cc9;
    margin-top: 0;
}

p {
    line-height: 1.6;
}

footer {
    background-color: #bb6ef1;
    color: white;
    text-align: center;
    padding: 5px 0;
    /* position: absolute; */
    bottom: 0;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}



/* css for terms and cond */
#terms-conditions-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 85%;
    margin: 0 auto;
  }
  
  .terms-conditions-heading {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0;
    color: #333;
  }
  
  .terms-conditions-item {
    width: 100%;
    margin: 10px 0;
    /* background-color: #f1f1f1; */
    border-radius: 10px;
    overflow: hidden; /* Ensure content stays within the same container */
    transition: background-color 0.3s ease;
  }
  
  .terms-conditions-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    cursor: pointer;
    /* background-color: #f1f1f1; */
    background-color:#BEBEBE3B;
    transition: background-color 0.3s ease;
  }
  
  .terms-conditions-header h5 {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    background-color: transparent;
}



/* Adjust the icon to be on the right end */
.terms-conditions-header .fa-plus,
.terms-conditions-header .fa-minus {
      background-color: transparent;
    margin-left: auto;
    font-size: 18px;
    color: #333;
  }
  
  .terms-conditions-content {
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    /* background-color: #fff; */
    background-color: #BEBEBE3B;
    border-radius: 0 0 20px 20px; /* Only round the bottom when expanded */
    font-size: 13px;
    color: black;
    line-height: 1.6;
    display: none; /* Hide the content by default */
    /* border-top: 1px solid #ddd; */
  }
  
  .active .terms-conditions-content {
    display: block; /* Show the content when active */
  }
  
  .terms-conditions-content p {
    margin: 10px 0;
    background-color: transparent;
  }
  